section{
    .titulo__contacto{
        font: 2rem status-bar;
        text-align: center;
        padding: 1rem;
        margin: 2rem;
        font-family: 'Dosis', sans-serif;
    }
    .redes__r{
        display: flex;
        justify-content: space-around;
        margin-top: 3.5rem;
    }
    div{
        .redes{
            align-items: center;

    margin: 5%;
    display: inline-block;
    font-size: inherit;
    height: 4rem;
    overflow: visible;
    vertical-align: -0.125rem;

        }
    }
}