footer {
    background-color: rgb(67, 67, 71);

    padding: 5rem;

    div {

        .redes__instagram {
            display: inline-block;
            font-size: inherit;
            height: 2rem;
            overflow: visible;
            vertical-align: -0.125rem;

        }



        .redes__whatsapp {
            margin-left: 1rem;
            display: inline-block;
            font-size: inherit;
            height: 2rem;
            overflow: visible;
            vertical-align: -0.125rem;

        }


    }


    .copyright {

        margin-top: 2rem;

    }


}