main {
    article {
        .contenedor__faq {
            .entrada {
                padding: 70px 0;
                text-align: center;

                .titulo__faq {
                    text-align: center;
                    font-size: 43px;
                    padding-bottom: 5rem;
                    font-family: 'Dosis', sans-serif;
                }

                .descripcion__faq {
                    font-size: 1rem;
                    text-align: left;
                    margin-left: 10rem;
                    font-family: 'Open Sans', sans-serif;
                }

                .faq {
                    font-size: 1.5rem;
                    text-align: left;
                    margin-left: 10rem;
                    font-family: 'Dosis', sans-serif;
                }
            }
        }
    }
}