*{
    margin: 0;
    padding: 0;
}
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Open+Sans:ital,wght@1,600&display=swap');

/*Estilos 404 */
@use"_404.scss";
/* Estilos Footer */
@use"_footer.scss";
/* Estilos Index*/
@use"_index.scss";
/* Estilos FAQ*/
@use"_preguntas_frecuentes.scss";
/* Estilos Servicios*/
@use"_servicios.scss";
/* Estilos Tienda*/
@use"_tienda.scss";
/* Estilos Contacto*/
@use"_contacto.scss";
/* Estilos navbar */
@use "_navbar.scss";













.card__productos {
    background-color: rgb(67, 67, 71);
    width: 15rem;
    padding: 1rem;
    border-radius: 9px;
    margin: 1rem;
}

.card__img {
    width: 100%;
    /* margin: auto; */
    display: block;
    border-radius: 9px;
}

.card__title {
    margin-top: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 31px;
    font-family: 'Dosis', sans-serif;

}

.card__description {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.entrada {
    padding: 70px 0;
    text-align: center;
}

.card__button {
    
    background-color: brown;
    border-radius: 5px;
    padding-left: 63px;
    padding-right: 63px;
    transition: .3s;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor__inicio {
    text-align: center;


}

.titulo__inicio {
    display: block;
    font-size: 43px;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*   font-weight: bold; */
    margin-bottom: 1.5rem;

    margin-top: 0;

    /* font-family: "Droid Sans", Sans-serif;
    font-family: 'Open Sans', sans-serif; */
    font-family: 'Dosis', sans-serif;
}

.description__inicio {

    margin-top: 0;
    line-height: 22px;
    width: 76%;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #000000;
    font-family: 'Open Sans', sans-serif;

    margin-left: 12%;
    margin-right: 12%;

}

.imagen__inicio {
    width: 76%;
}




.titulo__contacto {
    
}

.redes__r {
    

}

.redes {
    

}

/* .item__ubicacion {
    margin-left: 16%;
} */

.servicios {
    display: block;
    font-size: 43px;
    margin-bottom: 1.5rem;
    font-family: 'Dosis', sans-serif;
}

.imagen__servicios {
    width: 50%;
}

.descripcion__servicios {
    line-height: 22px;
    text-align: center;
    width: 50%;
    text-align: justify;
    display: block;
    margin-left: 25%;
    font-family: 'Open Sans', sans-serif;
}

.titulo__faq {
    text-align: center;
    font-size: 43px;
    padding-bottom: 5rem;
    font-family: 'Dosis', sans-serif;

}


.faq {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10rem;
    font-family: 'Dosis', sans-serif;
}

.descripcion__faq {
    font-size: 1rem;
    text-align: left;
    margin-left: 10rem;
    font-family: 'Open Sans', sans-serif;

}







li:hover {
    transform: scale(1.09);
    margin: 0%;
    background-color: rgb(194, 34, 34);
    border-radius: 6px;


}

.card__button:hover {
    background-color: rgb(194, 34, 34);
    border-radius: 5px;
    transform: scale(1.09);
}

.nav-link:hover {
    padding: 6px;
    margin: 0%;
    background-color: rgb(127, 34, 34);
    border-radius: 6px;
}

.card__img{
    width: 100%;
    display: block;
}


/* Media queries */
@import "_responsive.scss"