*{
    margin: 0;
    padding: 0;
}
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Open+Sans:ital,wght@1,600&display=swap');
:root{
    --color__gris:#434347;
  }
  
/*Estilos 404 */
@use"_404.scss";
/* Estilos Footer */
@use"_footer.scss";
/* Estilos Index*/
@use"_index.scss";
/* Estilos FAQ*/
@use"_preguntas_frecuentes.scss";
/* Estilos Servicios*/
@use"_servicios.scss";
/* Estilos Tienda*/
@use"_tienda.scss";
/* Estilos Contacto*/
@use"_contacto.scss";
/* Estilos navbar */
@use "_navbar.scss";


/* .nav-link:hover {
    padding: 6px;
    margin: 0%;
    background-color: rgb(127, 34, 34);
    border-radius: 6px;
}

 */


/* Media queries */
@import "_responsive.scss"